//- layout.pug
html
  head
    title Poorva's Dance Academy
    block scripts
    block style 
      script(src='/jquery.js')
  body
   nav#navbar 
        ul 
             div#logo
                img(src="/static/img/balletdancer.png") 
                | HDA
             li #[a(href="/") Home ]
             li #[a(href="/") New ]
             li #[a(href="/") Class info ]
             li #[a(href="/") Services]
             li #[a(href="/") About]
             li #[a(href="/contact") Contact Us]

  block content
  footer#footer   
       | Copyright 2023 PoorvaDanceAcademy.com 
  