h1{
    text-align: center;
    margin:12px 0;
}
.Mform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myinput{
    font-size: 16px;
    border: 2px solid rgb(5, 80, 70);
    border-radius: 10px;
    width: 40%;
    padding: 9px;
    margin:8px  ;
    outline: none;

}
.btn{
    padding: 12px 16px;
    font-size: 16px;
    border: 2px solid rgb(5, 80, 70);
    color: white;
    background: rgb(5, 80, 70);
    cursor: pointer;
}